ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_SECRET_KEY=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=smartjourney
DB_USER=root
DB_PASSWORD=
ARTOPAY_API_BASE_URL=
ARTOPAY_BUSINESS_UNIT=
ARTOPAY_BUSINESS_UNIT_CODE=
ARTOPAY_ENV=
ARTOPAY_PUBLIC_KEY=
ARTOPAY_SANDBOX=
ARTOPAY_SECRET_KEY=
GEMINI_API_KEY=
PORT=3000
VITE_ARTOPAY_PUBLIC_KEY=
WEBHOOK_SECRET=
