ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_SECRET_KEY=
ARTOPAY_API_BASE_URL=
ARTOPAY_BUSINESS_UNIT=
ARTOPAY_BUSINESS_UNIT_CODE=
ARTOPAY_ENV=
ARTOPAY_PUBLIC_KEY=
ARTOPAY_SANDBOX=
ARTOPAY_SECRET_KEY=
GEMINI_API_KEY=
PRODUCTION_URL=
PUBLIC_URL=
PORT=3000
VITE_ARTOPAY_PUBLIC_KEY=
WEBHOOK_SECRET=